[submodule "testfiles"]
	path = testfiles
	url = https://github.com/fulingyue/BASIC-Compiler.git
[submodule "simulator"]
	path = simulator
	url = https://github.com/Victrid/RISC-V-simulator.git
	branch = compiler-variation
